*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

@font-face { 
  font-family: papyrus; src: url(./assets/fonts/papyrus.ttf); 
} 

h1 {
  font-size: 5vh;
  font-family: papyrus;
}

header {
  position: fixed;
  text-align: center;
  width: 100vw;
  background-color:blue;
  z-index: 1;

}


.main-container {
  display:inline-block;
  width: 100vh;
  

}

.main-content {
  text-align: center;
  margin-top: 7.85vh;
  display: flex;  
  width: 100vw;
  overflow-x: hidden;  
}

.sidebar { 
  
  width: 25vw;
  height: 100vh;
  position: fixed;
  background-color:purple;
  z-index: 1;
 
}

.sidebar a{
  text-decoration: none;
}

.sidebar p {
 font-size: xx-large;
}

.content {
  width: 75vw;
  height: 92.1vh;
  position: relative;
  margin-left:25vw;
}

.content p{
  font-size: xx-large;
}

.content section{
  height: 92.1vh;
  border: 5px solid black;
}


footer{
  position: absolute;
  top: calc(100vh - 24px);
  text-align: center;
  width: 100vw;
  height: auto;
  background-color:white;
  z-index: 1;
  font-size: 15px;

}

.nav{
  border-radius: 10px;
  margin: 20px; /* top, right, bottom, left */;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
  
.sidebar-button {
  border-radius: 10px;
  width: 20vw;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: calc(1vh + 1vw);
  padding: 1vh;
  text-shadow: 1vh hsl(0, 0, 50%);
 
}

.sidebar-button:hover { 
  box-shadow: 0px 10px 10px black; /* Shadow */
  transition: box-shadow 0.1s;
  cursor: pointer;
}

.sidebar-button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.sidebar-button:after {
  background: transparent;
}

.sidebar-button:hover:before {
  opacity: 1;
}

.sidebar-button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

#top {
  position: sticky;
  background-color:green;
}
#xp {
  background-color:yellow;
}
#skill {
 background-color:orange;
}
#about {
  background-color:red;
}

.footer-div img {
  max-width: 20px;
  max-height: 20px;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  /* .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;} */
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}





