@use "sass:math";

$ratio: math.div(1296,1608);
$h1-size: calc(2vw*$ratio + 2vh);
$h2-size: calc(2vw*$ratio + 2vh);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana Tahoma, sans-serif;
  -ms-overflow-style: none;
  transition: all 0.5s ease;
   
  h2 {
    font-size: $h2-size;
  }

}


@font-face { 
  font-family: papyrus; src: url(./assets/fonts/papyrus.ttf); 
} 


.main-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh auto 5vh;
  grid-template-columns: 25vw auto;
  grid-template-areas: 'sb hd' 'sb mn' 'ft ft';
  align-items: stretch;
}


header {
  background-color:#87403e;
  z-index: 1;
  grid-area: hd;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  
  img{
    width: 5vw;
    height: 6vh;
    filter: drop-shadow(1px 1px 5px hsl(70, 100%, 50%));

  }

  h1 {
    font-size: $h1-size;
    font-family: papyrus;
    overflow-y: hidden ;
    opacity: 0;
    transition: 2s;
    transition-timing-function: ease;
    display: flex;
    place-items: center;
    position: relative;
  }

  h1:hover {
    font-size: $h1-size;;
    font-family: papyrus;
    overflow-y: hidden ;
    opacity: 1;
    transition: 2s;
    transition-timing-function: ease;
  
  }
}

.sidebar { 
  grid-area: sb;
  z-index: 1;
  background: linear-gradient(-45deg, #b7cedc, #87403e, #75c9ef, #33414c);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  align-content: center;

  button {
    border-radius: 10px;
    width: 20vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: none;
    outline: double;
    color: #fff;
    background-color: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: calc(2vh + 1vw);
    padding: 1vh; 
    margin-left: 2vw;
  }
  
  button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    animation: glowing 20s linear infinite;
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  button:after {
    background: transparent;
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
 button:hover:before {
    opacity: 1;
  }
}

footer{
  grid-area: ft;
  text-align: center;
  background-color:#b7b7b7;
  z-index: 1;
  display: flex;
  place-items: center;
  justify-content: center;
  text-align: center;
  
}

.main-content {
    display: inline-block;  
    overflow-x: hidden;
    grid-area: mn;
    height: auto;
    position: relative;
  
 section {
  padding-top: 2vh;
  height: 100%;
  position: relative; 
  
 }

  h2 {
    text-align: center;
    isolation: isolate;
  }

  h3 {
    font-size: calc(0.5vw + 1vh);
    isolation: isolate;

  }
}

#top {
  position: relative;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;

}

.top-info-div {
  display:flex;
  flex-flow: column;
  grid-gap: 3.22vh; 
  height:100%; 
  width: 100%;
  justify-content:center; 
  place-items:center;
}

@keyframes display {
  from {
    
  }
}
.name-span, .mobile-number-span, .email-span, .resume-span {
  opacity: 0;
  background-color: pink;
  padding: 2vh .5vw 2vh 0.5vw;
  margin: 0px;
  transform-origin: top right;
  border-radius: 1vh 1vw;

}


.top-info-div:hover .name-span{
  transition-delay: 500ms;
  transform: translateX(-19vw) translateY(-19vh);
  opacity: 1;
}

.top-info-div:hover .mobile-number-span{
  transition-delay: 1s;
  transform: translateX(-18.4vw) translateY(-22vh);
  opacity: 1;
}

.top-info-div:hover .email-span{
  transition-delay: 1.5s;
  transform: translateX(-23.6vw) translateY(-25vh);
  opacity: 1;
}

.top-info-div:hover .resume-span{
  transition-delay: 2s;
  transform: translateX(-16.75vw) translateY(-28vh);
  opacity: 1;
}

.prof-img {
  position: absolute;
  text-align: center;
  isolation: isolate;
  filter: drop-shadow(4px 4px 9px black);
  border: 1px solid black;
  border-radius: 10px;
  transition:all 3s;
  z-index: 1;
  animation: bounce 2s infinite;
  width: 35%;
  cursor: pointer;
}

@keyframes bounce {
 0%, 20%, 50%, 80% {
  transform: translateY(0)
 }
 40% {
  transform: translateY(-2vh)
 }
 60% {
  transform: translateY(-1vh);
  }
}

@keyframes slideUp {
  100%{
    transform:translateY(-35%) scale(0.8);
    transition: ease-in-out;
  }
}

.prof-img:hover{
  animation: slideUp 550ms forwards;
}

.name-span { 
  position: relative;
  margin: 0;
}

.header-span {
  text-align: center;
  background-color: white;
  height: "10%";
  margin-bottom: 2.1vh;
}

.resume-span {
  text-align: center;
  isolation: isolate;
}
.list-div {
  padding-left: 2vw;
}

.list-div a {
  text-decoration: none;
}

.place-date-div {
  text-align: center;
  height: 7vh;
}

.img-div {
  text-align: center;
}

.xp-text-div {
  align-self: center;
  border: 10px ridge black;
  height: inherit;
  border-radius: 10px;
  text-align: center;
  isolation: isolate;
}

.content-div {
  padding-left: 4vw;
  padding-right: 4vw;
  align-content: center;
}

#top::before {
  background-image: url(./assets/bgimg/basicinfo-bg.jpg);
  background-size: cover;
  background-position: center;
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.3;
}

#xp::before {
  background-image: url(./assets/bgimg/experience-bg.jpg);
  background-size: cover;
  background-position: center;
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.3;
}


#skill::before {
  background-image: url(./assets/bgimg/skill-bg.jpg);
  background-size: cover;
  background-position: center;
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.3;
}

.skill-bar-span{
  display:flex; 
  background-color:hsl(148, 100%, 10%); 
  width:30vw;
  border-radius:50px;
  box-shadow:1px 1px 2.1vh black;
  border:2px solid white;
  place-items:center
}

.skill-rate-span{
  display: flex;
  background-color: hsl(148, 100%, 45%); 
  height: max;
  border-radius: 50px;
  justify-content:right
}

.skill-description-span{
  display:flex;
  flex-flow:column
}

#about::before {
  background-image: url(./assets/bgimg/about-bg.jpg);
  background-size: cover;
  background-position: center;
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.3;
}

#reso::before {
  background-image: url(./assets/bgimg/reso-bg.jpg);
  background-size: cover;
  background-position: center;
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.3;
}

.item-div{
text-align: left;
margin-left: 1vw;
margin-right: 1vw;
}

.icon-img {
  width: 3vw;
  height: 2.5vh;
  margin-left: 1vw;
  isolation: isolate;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 60vh;
  height: fit-content;
  filter: drop-shadow(1px 1px 20px black);
  perspective: 100px;
  margin-left: 4vw;
  margin-right: 4vw;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: hidden;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;  
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color:#75c9ef;
  border-radius: 10px;
  align-content: center;
  align-items: center
}

.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
}

@media (hover: hover) {
  .carousel__slide:last-child {
    animation-name: tostart, snap;
  }
}

.carousel:hover 
.carousel:focus-within {
  animation-name: none;
}

.carousel__navigation {
  position: relative;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 2.1vh;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 2vw;
  height: 2vh;
  background-color: rgb(88, 88, 88);
  background-clip: content-box;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-left: 1vw;
  margin-right: 1vw;
 
}

.carousel__navigation-button:hover {
  filter : drop-shadow(2px 2px 2px black) 
}

.nav-button-active{
  background-color: #75c9ef;
  display: inline-block;
  width: 2vw;
  height: 2vh;
  background-clip: content-box;
  border:1px solid transparent;
  border-radius: 50%;
  filter : drop-shadow(5px 5px 5px black) ;
  cursor: pointer;
}

.carousel__prev,
.carousel__next 
{
  position: absolute;
  width: calc(2vw + 2vh);
  height: calc(2vw + 2vh);
  transform: translateY(-50%);
  border-radius: 50%;
  outline: 0;

}

.carousel__prev {
  z-index: 1;
  top: 50%;
  background-image: url(./assets/bgimg/prev.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center
}

.carousel__next {
  top: 50%;
  right: 0.5vw;
  background-image: url(./assets/bgimg/next.png);
  z-index: 1;
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}


$screen-width: 1920px;
$screen-height: 1080px;

$desk-tab1-width: 1280px;
$tablet2-width: 1024px;
$mobile1-width: 360px;
$mobile2-width: 375px;

$tablet1-height: 800px;
$tablet2-height: 768px;
$desktop-height: 720px;


$ratio-tab2: math.div(768,1024);
$h1-tab2-size: 25px;
$h2-tab2-size: 10px;

@media only screen and (max-width: $tablet2-width) {

  h2 {
    font-size: $h2-tab2-size;
  }
  header {
    h1{
      font-size: $h1-tab2-size;
    }

    img{
      max-width: calc(0.03*$tablet2-width);
      width: 100%;
      max-height: calc(0.03*$tablet2-width);
      height: 100%;
    }
  }
  
  .prof-img {
    max-width: calc(0.3*$tablet2-width);
    width: 100%;
    max-height: calc(0.2*$tablet2-width);
  }

  .sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }

  #top {
    h2 {
      font-size: calc(0.03*$tablet2-width);
    }

    h3 {
      font-size: calc(0.013*$tablet2-width);
    }
  }

  .top-info-div {
    flex-flow: column;
    align-content: center;
    justify-content: center;
  }

  #xp {
    display: grid;
    align-content: center;
    padding-top: 2vh;
    height: 100%;
    position: relative; 
    h3 {
      font-size: 15px;
    } 
  }

  .carousel__viewport {
   height: fit-content;
   align-content: center;
  
  }

  .icon-img {
    max-width: 15px;
    width: 100%;
    max-height: 15px;
    height: 100%;
  }

  .xp-text-div {
    height: inherit;
    margin-bottom: 2vh;
  }
  
}

@media only screen and (max-width: $desk-tab1-width) {

}

@media only screen and (max-width: $mobile1-width) {

 }

@media only screen and (max-width: $mobile2-width) {
}

